{% extends "layouts/base.html" %} {% block content %}
<section class="hero">
  <span class="topper">New product</span>
  <h1>XX99 Mark II Headphones</h1>
  <p>
    Experience natural, lifelike audio and exceptional build quality made for
    the passionate music enthusiast.
  </p>
  <a href="#" class="btn--solid">See Product</a>
</section>
<section class="categories">
  <div class="container">
    <div class="category">
      <img
        src="/assets/shared/desktop/image-category-thumbnail-headphones.png"
        alt="headphone thumbnail"
      />
      <p>Headphones</p>
      <a href="#" class="btn--text">
        Shop
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
    <div class="category">
      <img
        src="/assets/shared/desktop/image-category-thumbnail-speakers.png"
        alt="speakers thumbnail"
      />
      <p>Speakers</p>
      <a href="#" class="btn--text">
        Shop
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
    <div class="category">
      <img
        src="/assets/shared/desktop/image-category-thumbnail-earphones.png"
        alt="earphone thumbnail"
      />
      <p>Earphones</p>
      <a href="#" class="btn--text">
        Shop
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
{% endblock %}
