{% extends "layouts/base.html" %}
{% block content %}
  <section class="hero">
    <div class="container">
      <span class="topper">New product</span>
      <h1>XX99 Mark II Headphones</h1>
      <p>
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>
      <a
        href="#"
        class="btn--solid"
      >
        See Product
      </a>
    </div>
  </section>
  {% include "partials/category-cards.html" %}
  <section class="featured-products">
    <div class="container">
      <div class="first card">
        <picture>
          <!-- Desktop (1240px and up) -->
          <source
            media="(min-width: 1240px)"
            srcset="/assets/home/desktop/image-speaker-zx9.png"
          />

          <!-- Tablet (768px to 1439px) -->
          <source
            media="(min-width: 768px)"
            srcset="/assets/home/tablet/image-speaker-zx9.png"
          />

          <!-- Mobile (up to 767px) -->
          <source
            media="(max-width: 767px)"
            srcset="/assets/home/mobile/image-speaker-zx9.png"
          />

          <!-- Fallback image -->
          <img
            src="/assets/home/mobile/image-speaker-zx9.png"
            alt="zx9 speaker"
          />
        </picture>
        <div class="content">
          <h1>
            ZX9
            <br />
            Speaker
          </h1>
          <p>
            Upgrade to premium speakers that are phenomenally built to deliver
            truly remarkable sound.
          </p>
          <a
            href="#"
            class="btn--solid"
          >
            See Product
          </a>
        </div>
      </div>
      <div class="second card">
        <h4>ZX7 Speaker</h4>
        <a
          href="#"
          class="btn--outline"
        >
          See Product
        </a>
      </div>
      <div class="third-image card"></div>
      <div class="third card">
        <h4>YX1 Earphones</h4>
        <a
          href="#"
          class="btn--outline"
        >
          See Product
        </a>
      </div>
    </div>
  </section>
  {% include "partials/about.html" %}
{% endblock %}
