{% set isDetailPage = true %}
{% extends "layouts/base.html" %}
{% block content %}
{% set showDetails=true %}
  <section class="product-details">
    <div class="container">{% include "partials/product-card.html" %}</div>
  </section>
  <section class="product-features">
    <div class="container">{% include "partials/product-features.html" %}</div>
  </section>
         
  <section class="product-images">
    <div class="container">
      {% for key, image in product.gallery %}
        <div class="product-gallery-image">
          <picture>
            <source
              media="(min-width: 1024px)"
              srcset="../.{{ image.desktop }}"
            />
            <source
              media="(min-width: 768px)"
              srcset="../.{{ image.tablet }}"
            />
            <img
              src="../.{{ image.mobile }}"
              alt="{{ product.name }}"
              loading="lazy"
            />
          </picture>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="recommended-products">
	  <div class="container">
		  {% set showDetails=false %}
	      {% for item in product.others %}
                {% include "partials/product-card.html" %}
	      {% endfor %}
	  </div>
  </section>
  {% include "partials/category-cards.html" %}
  {% include "partials/about.html" %}
{% endblock %}
