{% set isDetailPage = true %}
{% extends "layouts/base.html" %}
{% block content %}
  <section class="product-details">
    <div class="container">{% include "partials/product-card.html" %}</div>
  </section>
  <section class="product-features">
    <div class="container">{% include "partials/product-features.html" %}</div>
  </section>

  <section class="product-images">
    <div class="container">
      <div class="product-gallery-image">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="../.{{ product.gallery.first.desktop }}"
          />
          <source
            media="(min-width: 768px)"
            srcset="../.{{ product.gallery.first.tablet }}"
          />
          <img
            src="../.{{ product.gallery.first.mobile }}"
            alt="{{ product.name }}"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="product-gallery-image">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="../.{{ product.gallery.second.desktop }}"
          />
          <source
            media="(min-width: 768px)"
            srcset="../.{{ product.gallery.second.tablet }}"
          />
          <img
            src="../.{{ product.gallery.second.mobile }}"
            alt="{{ product.name }}"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="product-gallery-image">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="../.{{ product.gallery.third.desktop }}"
          />
          <source
            media="(min-width: 768px)"
            srcset="../.{{ product.gallery.third.tablet }}"
          />
          <img
            src="../.{{ product.gallery.third.mobile }}"
            alt="{{ product.name }}"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </section>

  {% include "partials/category-cards.html" %}
  {% include "partials/about.html" %}
{% endblock %}
