/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/manrope-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/manrope-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/manrope-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #d87d4a;
  --pale-orange: #fbaf85;
  --off-black: #101010;
  --off-white: #fafafa;
  --light-grey: #f1f1f1;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;

  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2.25rem, 1.6122rem + 2.7211vw, 3.5rem);
  line-height: 1.036;
  letter-spacing: 2px;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.35;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.375;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 1.3px;
}

p {
  opacity: 0.75;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1110px;
  width: 80%;
  margin: 0 auto;
}

.topper {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 10px;
  color: var(--orange);
}

.btn--solid {
  background-color: var(--orange);
  color: var(--white);
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;

  &:hover {
    background-color: var(--pale-orange);
  }
}

.btn--outline {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.btn--text {
  background-color: transparent;
  color: var(--black);
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  opacity: 0.5;

  &:hover {
    color: var(--orange);
  }
}

.accent-text {
  color: var(--orange);
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: var(--white);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .logo {
    display: flex;
  }

  .nav {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav.visible {
    visibility: visible;
    height: auto;
    position: relative;
  }
}

/* HERO */
.hero {
  color: var(--white);
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(25, 25, 25, 0.35);
  background-blend-mode: overlay;

  min-height: 37.5rem;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
  }

  h1 {
    margin-top: -0.5rem;
  }

  .btn--solid {
    margin-top: 0.25rem;
  }
}

/* Categories */
.categories {
  padding-top: 4rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .category {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-bottom: 35px;

    img {
      width: auto;
      height: 104px;
      margin-top: -35px;
    }

    p {
      text-transform: uppercase;
      opacity: 1;
      font-weight: 700;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      width: 100%;
    }
  }
}

@media (min-width: 48rem) {
  .hero {
    background-image: url("/assets/home/tablet/image-header.jpg");
    min-height: 45.5rem;
    p {
      max-width: 40ch;
    }
  }

  .categories {
    .container {
      flex-direction: row;
      justify-content: space-between;
      gap: clamp(0.625rem, -2.182rem + 5.848vw, 1.875rem);
    }

    .category {
      flex-grow: 1;
    }
  }
}

@media (min-width: 64rem) {
  header {
    .nav-toggle {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    .nav {
      visibility: visible;
      height: auto;
      position: relative;
    }

    .nav__list {
      display: flex;
      gap: 2rem;
      text-transform: uppercase;
    }

    .nav__item:hover {
      color: var(--orange);
    }
  }

  .hero {
    background-image: url("/assets/home/desktop/image-hero.jpg");
    .container {
      text-align: start;
      align-items: start;
    }

    h1 {
      max-width: 15ch;
    }
  }
}
