@use "variables";
@use "sass:map";

// Page Header
.page-header {
  min-height: 12rem;
  background-color: map.get(variables.$colors, "black");
  color: map.get(variables.$colors, "white");
  display: flex;

  .container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
  }
}

.products {
  margin-top: 4rem;

  .product-card {
    gap: 2rem;

    img {
      border-radius: 0.5rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      text-align: center;

      p {
        opacity: 0.5;
      }
    }
  }
}
