@use "variables";
@use "sass:map";

.page-header {
  min-height: clamp(12rem, 8.831rem + 13.5211vw, 21rem);
  background-color: map.get(variables.$colors, "black");
  color: map.get(variables.$colors, "white");
  display: flex;

  .container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: clamp(2rem, 0.5695rem + 6.1033vw, 6.0625rem);
  }
}

.product-card {
  gap: 2rem;

  img {
    border-radius: 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;

    p {
      opacity: 0.5;
    }
  }

  .price {
    font-weight: 700;
  }
}

.products,
.product-details {
  margin-top: 4rem;
  margin-bottom: 6rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
  }

  button.btn--solid {
    border: none;
  }
}

// Product Details
body:has(main > section.product-details) header {
  position: relative;
  background-color: map.get(variables.$colors, "black");
}

@media (min-width: 64rem) {
  .product-card {
    min-height: 35rem;
    flex-direction: row;
    gap: 7.8125rem;
    .content {
      max-width: 40%;
      text-align: start;
      align-items: flex-start;
      gap: 2rem;

      .topper {
        margin-bottom: -1rem;
      }

      a.btn--solid {
        margin-top: 0.5rem;
      }
    }
  }

  .product-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .products,
  .product-details {
    margin-top: 10rem;
    margin-bottom: 12rem;
  }
}
