<div class="cart-modal visually-hidden">
  <div class="row">
    <!-- TODO: dynamically change # items -->
    <h6>Cart (3)</h6>
    <button class="btn--text">Remove all</button>
  </div>
  <div class="items">
    <!-- TODO: dynamically generate items -->
    <div class="item row">
      <div class="image">
        <img
          src="/assets/cart/image-xx99-mark-two-headphones.jpg"
          alt="XX99 Mark Two Headphones"
        />
      </div>
      <div class="content">
        <p class="item-name">XX99 MK II</p>
        <p class="item-price">$2,999</p>
      </div>
      {% include "partials/number-button.html" %}
    </div>
  </div>
  <div class="total row">
    <p>Total</p>
    <span class="price">$ 5,396</span>
    <!-- {% if product.price %}
      <span class="price">$ {{ product.price | commaize }}</span>
    {% endif %} -->
  </div>

  <button class="btn--solid">Checkout</button>
</div>
