<div class="card product-card">
  <picture>
    <source
      media="(min-width: 1024px)"
      srcset="../.{{ product.image.desktop }}"
    />
    <source
      media="(min-width: 768px)"
      srcset="../.{{ product.image.tablet }}"
    />
    <img
      src="../.{{ product.image.mobile }}"
      alt="{{ product.name }}"
      loading="lazy"
    />
  </picture>
  <div class="content">
    {% if product.new and showDetails %}
      <span class="topper">New product</span>
    {% endif %}
    <h1>{{ product.name }}</h1>
    {% if showDetails %}
    <p>{{ product.description }}</p>
    {% endif %}
    {% if isDetailPage and showDetails %}
      {% if product.price %}
        <span class="price">$ {{ product.price | commaize }}</span>
      {% endif %}
      <div class="buttons">
        {% include "partials/number-button.html" %}
        <button
          class="btn--solid add-to-cart"
          type="button"
          data-product-id="{{ product.id }}"
          data-product-name="{{ product.name }}"
          data-product-price="{{ product.price }}"
          data-product-slug="{{ product.slug }}"
        >
          Add to cart
        </button>
      </div>
    {% else %}
      <a
        href="/products/{{ product.slug }}/"
        class="btn--solid"
      >
        See Product
      </a>
    {% endif %}
  </div>
</div>
